.car {
  display: flex;
  align-items: center;
  padding-bottom: 10px;

  &:last-child {
    padding-bottom: 0px;
  }

  .car-details {
    padding: 0px 17.5px;

    .title {
      padding: 0px 3.5px;
      font-size: 20px;
      margin-bottom: 2.5px;
      transition: 0.3s ease;

      &:hover {
        box-shadow: inset 0px -12.5px 0px #A6CDE4;
        transition: 0.3s ease;
      }
    }
  }

  .fa {
    font-size: 36px;
    background: #294074;
    color: white;
    padding: 10px;
    border-radius: 50%;
  }
}

.tab {
  border: 1px solid #294074;
  border-radius: 2.5px;
  padding: 1px 6px;
  text-transform: uppercase;
  font-size: 11px;
  margin-left: 3.5px;
}
